// 百分比宽度，从 40% 到 100%，示例：.t-W100
@minWidth: 40;
@maxWidth: 100;
each(range(@minWidth, @maxWidth), {
  .t-W@{value} {
    width: (@value * 1%);
  }
})

// 文本对齐，示例：.t-TAC
@textAlign: {
  TAL: left;
  TAC: center;
  TAR: right;
}
each(@textAlign, {
  .t-@{key} {
    text-align: @value;
  }
})

// 字体常规色
@fontColors: {
  0: #000;
  3: #333;
  4: #444;
  5: #555;
  6: #666;
  7: #777;
  8: #888;
  9: #999;
  a: #aaa;
  b: #bbb;
  c: #ccc;
  d: #ddd;
  e: #eee;
  f: #fff;
}

each(@fontColors, {
  .t-FC@{key} {
    color: @value;
  }
})

// 背景常规色
@backgroundColors: {
  0: #000;
  3: #333;
  4: #444;
  5: #555;
  6: #666;
  7: #777;
  8: #888;
  9: #999;
  a: #aaa;
  b: #bbb;
  c: #ccc;
  d: #ddd;
  e: #eee;
  f: #fff;
}

each(@backgroundColors, {
  .t-BC@{key} {
    background-color: @value;
  }
})

@fontSizes:0,12,14,16,18,20,22,24,26,28,30;
each(@fontSizes, {
  .t-FS@{value} {
    font-size: (@value * 1px);
  }
})

// 浮动方式，示例：.t-FL
@float: {
  FL: left;
  FR: right;
}

each(@float, {
  .t-@{key} {
    float: @value;
  }
})

// 清除浮动，示例：.t-CL
.t-CL:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// margin 和 padding，示例：.t-MT10
each(range(0, 40), {
  .t-P@{value} {
    padding: (@value * 1px);
  }
  .t-PT@{value} {
    padding-top: (@value * 1px);
  }
  .t-PR@{value} {
    padding-right: (@value * 1px);
  }
  .t-PB@{value} {
    padding-bottom: (@value * 1px);
  }
  .t-PL@{value} {
    padding-left: (@value * 1px);
  }
  .t-M@{value} {
    margin: (@value * 1px);
  }
  .t-MT@{value} {
    margin-top: (@value * 1px);
  }
  .t-MR@{value} {
    margin-right: (@value * 1px);
  }
  .t-MB@{value} {
    margin-bottom: (@value * 1px);
  }
  .t-ML@{value} {
    margin-left: (@value * 1px);
  }
  // .t-R@{value} {
  //   border-radius: (@value * 1px);
  // }
  // .t-RT@{value} {
  //   border-top-left-radius: (@value * 1px);
  //   border-top-right-radius: (@value * 1px);
  // }
  // .t-RR@{value} {
  //   border-top-right-radius: (@value * 1px);
  //   border-bottom-right-radius: (@value * 1px);
  // }
  // .t-RB@{value} {
  //   border-bottom-left-radius: (@value * 1px);
  //   border-bottom-right-radius: (@value * 1px);
  // }
  // .t-RL@{value} {
  //   border-top-left-radius: (@value * 1px);
  //   border-bottom-left-radius: (@value * 1px);
  // }
})

// font align
.t-FAL {
  text-align: left;
}

.t-FAC {
  text-align: center;
}

.t-FAR {
  text-align: right;
}
