each(range(40, 100), {
  .w@{value} {
    width: (@value * 1%);
  }
})

.tl {text-align: left;}
.tc {text-align: center;}
.tr {text-align: right;}
.fl {float: left;}
.fr {float: right;}

each(range(0, 32), {
  .t-P@{value} {
    padding: (@value * 1px);
  }
  .t-PT@{value} {
    padding-top: (@value * 1px);
  }
  .t-PR@{value} {
    padding-right: (@value * 1px);
  }
  .t-PB@{value} {
    padding-bottom: (@value * 1px);
  }
  .t-PL@{value} {
    padding-left: (@value * 1px);
  }
  .t-M@{value} {
    margin: (@value * 1px);
  }
  .t-MT@{value} {
    margin-top: (@value * 1px);
  }
  .t-MR@{value} {
    margin-right: (@value * 1px);
  }
  .t-MB@{value} {
    margin-bottom: (@value * 1px);
  }
  .t-ML@{value} {
    margin-left: (@value * 1px);
  }
  .t-R@{value} {
    border-radius: (@value * 1px);
  }
  .t-RT@{value} {
    border-top-left-radius: (@value * 1px);
    border-top-right-radius: (@value * 1px);
  }
  .t-RR@{value} {
    border-top-right-radius: (@value * 1px);
    border-bottom-right-radius: (@value * 1px);
  }
  .t-RB@{value} {
    border-bottom-left-radius: (@value * 1px);
    border-bottom-right-radius: (@value * 1px);
  }
  .t-RL@{value} {
    border-top-left-radius: (@value * 1px);
    border-bottom-left-radius: (@value * 1px);
  }
})
