header.el-header {
  padding: 0;
  background-color: #3f9eff;
  div:first-child {
    img {
      margin: 12px 0 0 30px;
    }
  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .nav-list {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    text-align: right;
    .user-name {
      margin: 0 8px;
    }
    .el-dropdown {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      margin-top: 12px;
    }
    .el-dropdown-menu {
      width: 100px;
      margin-top: 0;
    }
    .el-dropdown-link {
      color: #fff;
      display: inline-block;
      padding: 0 10px;
      .fa {
        width: 14px;
        height: 14px;
      }
    }
  }
}
