@for $i from 1 through 32 {
  .t-P#{$i} {
    padding: #{$i}px;
  }
  .t-PT#{$i} {
    padding-top: #{$i}px;
  }
  .t-PR#{$i} {
    padding-right: #{$i}px;
  }
  .t-PB#{$i} {
    padding-bottom: #{$i}px;
  }
  .t-PL#{$i} {
    padding-left: #{$i}px;
  }
  .t-M#{$i} {
    margin: #{$i}px;
  }
  .t-MT#{$i} {
    margin-top: #{$i}px;
  }
  .t-MR#{$i} {
    margin-right: #{$i}px;
  }
  .t-MB#{$i} {
    margin-bottom: #{$i}px;
  }
  .t-ML#{$i} {
    margin-left: #{$i}px;
  }
  .t-R#{$i} {
    border-radius: #{$i}px;
  }
  .t-RT#{$i} {
    border-top-left-radius: #{$i}px;
    border-top-right-radius: #{$i}px;
  }
  .t-RR#{$i} {
    border-top-right-radius: #{$i}px;
    border-bottom-right-radius: #{$i}px;
  }
  .t-RB#{$i} {
    border-bottom-left-radius: #{$i}px;
    border-bottom-right-radius: #{$i}px;
  }
  .t-RL#{$i} {
    border-top-left-radius: #{$i}px;
    border-bottom-left-radius: #{$i}px;
  }
}