@import "layout/header.scss";
@import "layout/side.scss";
@import "layout/footer.scss";

@import "utils";
body > .el-container {
  width: 100%;
  min-height: 100vh;
}

.el-main {
  background-color: #F7F7F7;
  padding: 28px 24px;
}
