.green-tip {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #42b983;
  p {
    padding-bottom: 0;
    margin: 1.2em 0;
    font-weight: 600;
    font-size: 16px;
    color: #34495e;
    line-height: 1.6em;
    position: relative;
    z-index: 1;
    word-spacing: 0.05em;
  }
}
.ant-table table {
  display: table !important;
}
.ant-table th, .ant-table td {
  border-top: unset !important;
  border-left: unset !important;
  border-right: unset !important;
}
.ant-table tr:nth-child(2n) {
  background-color: unset !important;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
[class^="xy-"], [class*=" xy-"] {
  font-family: 'xy' !important;
  -webkit-font-smoothing: antialiased;
}
.xy-table {
  display: table;
  border-spacing: 2px;
}