@import "font";
@import "../layout/header";
@import "../layout/side";
@import "../layout/footer";

@import "xy-button";
@import "xy-input";

@import "utils";
body > .el-container {
  width: 100%;
  min-height: 100vh;
}

.el-main {
  background-color: #F7F7F7;
  padding: 28px 24px;
}
